{% load static %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Jenny's Cosmetic</a>
    <img src="{% static 'blog/image/j.png' %}" alt="No image found" width="50" height="50">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %} ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'shop' %}">All product</a></li>
            <li><a class="dropdown-item" href="#">Face</a></li>
            <li><a class="dropdown-item" href="#">Hair</a></li>
            <li><a class="dropdown-item" href="#">Body</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="form-inline my-2 my-lg-0">
        <a href="##" class="btn btn-warning">Log in</a>
      </div>

      <a href="{% url 'cart' %}">
        <img  id="cart-icon" src="{% static 'blog/image/cart.png' %}" alt=" image not found">
      </a>
      <p id="cart-total">{{cartItems}}</p>
    </div>
  </div>
</nav>